<nav>
    <div>
        <%= link_to "Zenith Wireless", root_path %>
        <%= link_to "Personal", '#' %>
        <%= link_to "Business", '#' %>
        <%= link_to "Government", '#' %>
        <%= link_to "Technology", '#' %>
        <%= link_to "Buy Voucher", '#' %>
    </div>
</nav>